<!DOCTYPE html>
<html>
<head>
    <title>Chat C |  Server</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
            <h2>The server is launch on <span id="ip" class="color"></span>.</h2>
            <ul id="infos" class="left"></ul>
            <script type="text/javascript" src="../js/lib/twitter-text.js"></script>
            <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
            <script type="text/javascript" src="../js/server.js"></script>
</body>
</html>